<div *ngIf="!showSplashScreen" id="chartdiv" class="p-4" style="width: 100%; height: 100%; overflow: hidden;"></div>
<div *ngIf="showSplashScreen" class="row h-100 w-100 m-0">
    <div class="col-12 p-0" style="height: 60%" id="bg">
        <div class="h-100 w-100" id="gradient"></div>
    </div>
    <div class="col-12" style="height: 40%">
        <div class="row h-100 m-0 p-0">
            <div class="col-12 h-50" id="banner"></div>
            <div class="col-12 h-50" id="logo"></div>
        </div>
    </div>
</div>